<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SendByMail" value="true"/>
    <add key="EmailList" value=""/>
    <add key="Extensions" value=""/>
    <add key="ContentTypes" value="PreviewImage"/>
    <add key="InTree" value="/Root"/>
    <add key="ExtensionsBlackList" value=""/>
    <add key="ExcludePreviews" value="false"/>
    <add key="UploadNetworkPath" value="true"/>
    <add key="NetworkPath" value="c:\temp"/>
    <add key="ItemsCountInIteration" value="100000"/>
    <add key="SubjectPrefix" value="SNFilesize Test"/>
    <add key="SQLConnectionTimeoutInSeconds" value="150"/>
    <add key="SQLCommandTimeoutInSeconds" value="300"/>

    <add key="SMTP" value="" />
    <add key="SMTPUser" value="" />
    <add key="SMTPPassword" value="" />
    <add key="EmailFrom" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="SnCrMsSql" connectionString="Data Source=.;Initial Catalog=sncr;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>